<!DOCTYPE html>
<html lang="en">

<head>
    <title>THIS - Trash Handling Information System</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="/flat/dist/assets/images/kudaicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/flat/dist/assets/css/style.css">
    <link rel="stylesheet" href="/flat/dist/assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="/kaiadmin/assets/css/plugins.min.css" />
    

</head>
<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar  ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				
				<div class="">
					<div class="main-menu-header">
						<img class="img-radius" src="/flat/dist/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
						<div class="user-details">
							<span><%= Users.nama_users %></span>
							<div id="more-details"><%= Users.role_users %></div>
						</div>
					</div>
				</div>
				
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/admin/data-user" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Account</span></a>
					</li>
					<li class="nav-item">
					    <a href="/admin/laporan-akun-komersil" class="nav-link "><span class="pcoded-micon"><i class="feather icon-inbox"></i></span><span class="pcoded-mtext">Laporan Komersil</span></a>
					</li>
					<li class="nav-item">
					    <a href="/admin/laporan-akun-ilegal" class="nav-link "><span class="pcoded-micon"><i class="feather icon-inbox"></i></span><span class="pcoded-mtext">Laporan Ilegal</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>EXIT</label>
					</li>
					<li class="nav-item">
					    <a href="/logout" class="nav-link "><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
		<div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="/flat/dist/assets/images/kuda.png" alt="" class="logo">
                <img src="/flat/dist/assets/images/logo-icon.png" alt="" class="logo-thumb">
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
	</header>
	<!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">DATA WARGA</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/admin">Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <!-- ini modal foto agar tombol pada field bisa berfungsi -->
            <div class="modal fade" id="mediaModal1" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediaModalLabel1">Gambar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Gambar di dalam modal -->
                            <img src="/deskapp2/vendors/images/img2.jpg" alt="Gambar" style="width: 100%; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
             <!-- ini modal video agar tombol pada field bisa berfungsi -->
            <div class="modal fade" id="mediaModal2" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediaModalLabel2">Video</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Video di dalam modal -->
                            <video controls style="width: 100%; height: auto;">
                                <source src="/deskapp2/vendors/images/video.mp4" type="video/mp4">
                                Browser Anda tidak mendukung tag video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-table">
				<div class="col-md-12">
				  	<div class="card">
						<div class="card-header">
							<h4 class="card-title">Data Warga</h4>
						</div>
						<div class="card-body">
						<div class="table-responsive">
							<table id="basic-datatables" class="display table table-striped table-hover">
							<thead>
								<tr>
								<th>Nama</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Role</th>
                                <th>Tindakan</th>
								</tr>
							</thead>
							<tbody>
                                <% for( let i = 0; i < rows.length; i++ ) { %>
                                    <tr>
                                        <td><%= rows[i].nama_users %></td>
                                        <td><%= rows[i].email %></td>
                                        <td><% if (rows[i].status == 'active') { %>
                                            <span class="badge badge-success"><%= rows[i].status %></span>
                                        <% }else if(rows[i].status == 'frozen'){ %>
                                            <span class="badge badge-primary"><%= rows[i].status %></span>
                                        <% }else if(rows[i].status == 'banned'){ %>
                                            <span class="badge badge-danger"><%= rows[i].status %></span>
                                        <% }else{ %>
                                            <p> Status tidak diketahui</p>
                                        <% } %>
                                        </td>
                                        <td><%= rows[i].role_users %></td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Tindakan
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">Hapus akun</a>
                                                    <% if (rows[i].status == 'active') { %>
                                                        <a class="dropdown-item" href="/admin/freeze-account/<%= rows[i].id_users %>">Bekukan Akun</a>
                                                        <a class="dropdown-item" href="#">Banned Akun</a>
                                                    <% }else{ %>
                                                        <a class="dropdown-item" href="/admin/activate-account/<%= rows[i].id_users %>">Aktifkan Akun</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                                
							</tbody>
							</table>
						</div>
						</div>
				  	</div>
				</div>
			</div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script src="/flat/dist/assets/js/vendor-all.min.js"></script>
    <script src="/flat/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/flat/dist/assets/js/pcoded.min.js"></script>

    <!-- Apex Chart -->
    <script src="/flat/dist/assets/js/plugins/apexcharts.min.js"></script>
	<script src="/flat/dist/assets/js/pages/chart-apex.js"></script>


    <!-- custom-chart js -->
    <script src="/flat/dist/assets/js/pages/dashboard-main.js"></script>

	<!--   Core JS Files   -->
    <!-- <script src="/kaiadmin/assets/js/core/jquery-3.7.1.min.js"></script> -->
    <script src="/kaiadmin/assets/js/core/popper.min.js"></script>
    <script src="/kaiadmin/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/kaiadmin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Datatables -->
    <script src="/kaiadmin/assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="/kaiadmin/assets/js/kaiadmin.min.js"></script>
    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <!-- <script src="/kaiadmin/assets/js/setting-demo2.js"></script> -->
    <script>
      $(document).ready(function () {
        $("#basic-datatables").DataTable({});

        $("#multi-filter-select").DataTable({
          pageLength: 5,
          initComplete: function () {
            this.api()
              .columns()
              .every(function () {
                var column = this;
                var select = $(
                  '<select class="form-select"><option value=""></option></select>'
                )
                  .appendTo($(column.footer()).empty())
                  .on("change", function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                    column
                      .search(val ? "^" + val + "$" : "", true, false)
                      .draw();
                  });

                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (d, j) {
                    select.append(
                      '<option value="' + d + '">' + d + "</option>"
                    );
                  });
              });
          },
        });

        // Add Row
        $("#add-row").DataTable({
          pageLength: 5,
        });

        var action =
          '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $("#addRowButton").click(function () {
          $("#add-row")
            .dataTable()
            .fnAddData([
              $("#addName").val(),
              $("#addPosition").val(),
              $("#addOffice").val(),
              action,
            ]);
          $("#addRowModal").modal("hide");
        });
      });
    </script>
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
